* {
    box-sizing: border-box;
}
/* 스타일 (강예림)*/
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
* { box-sizing: border-box; }
*::selection { background: #eeca22; }
a, a:visited, a:hover, a:link, a:active { text-decoration: none; color: inherit; }
p { font-family: 'Nanum Gothic'; }

/* 배경 이미지 */
.background-image {
    background-image: url(../img/her_1.jpg);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 599px;
    height: 900px;
    z-index: -300;
}

/* 화면 영역 */
body {
    background-color: black;
    width: 1600px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* 화면 상단 */
header {
    width: 1110px;
    height: 100px;
    background-color: black;
}

/* 화면 상단 내 로고 */
.logo {
    margin: 20px;
}

/* 화면 중앙 영역 */
.middlescreen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* 화면 좌측 메뉴 */
.leftmenu {
    width: 260px;
}

.leftmenu a {
    float: left;
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    width: 260px;
    height: 100px;
    text-align: center;
    opacity: 0.6;
    transition:0.5s;
}

.leftmenu a:hover {
    opacity: 1;
}

/* 화면 우측 본문 영역(강예림) */
/* layout */
.content {margin-left:0; margin-bottom: 20px; }
.text { width: 63%; text-align: center;margin-left:5px; padding-bottom: 20px; margin-bottom: 20px; background-color: white; }

.text h1{margin-top:0;padding-top:20px;}
/* text */
.text img, iframe { width: 100%;}
.text p { width: 80%; margin: auto; line-height: 30px; }
h2 { margin-top: 60px; }
.star { font-size: 30px; color: #eeca22; }


/* media query 500px */
@media screen and (max-width: 500px) {
    .content { width: 100%; } /* text 감싸는 div */
    .text { width: 100%;} /* 내용 */
    .text img, iframe { width: 100%; }
    }

/* media query  800px */
@media screen and (min-width: 800px) {
    iframe { display:inline-block; width:30vw; height: 40vh; }
    .text img { width: 400px; height: 550px; }
    }
/*화면 우측본문 영역 끝*/

/* 화면 하단 출처 & 연락처 */
footer {
    height: 100px;
    width: 1110px;
    background-color: dimgray;
    color: white;
    position: relative;
    bottom:0;
}

address {
    margin: auto;
}

/* 해상도 500px 이하일 경우 */
@media screen and (max-width: 500px) {
    
    body, header, .leftmenu, .worksheet, footer {
        width: 500px;
        margin: 0px;
        padding: 0px;
        display: flex;
        height: auto;
    }

    .worksheet section {
        overflow: auto;
        width: auto;
        background-color: white;
        color: black;
    }

    .background-image {
        /* 배경 숨기기 */
        visibility: hidden;
    }

    .middlescreen {
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .leftmenu {
        display: inline-block;
        background-color: black;
    }

    .leftmenu a, .leftmenu img {
        width: 250px;
        height: 100px;
    }

    .worksheet section {
        display: flex;
        flex-wrap: wrap;
    }

    .worksheet section iframe {
        width: 400px;
        height: 300px;
        margin: auto;
    }

    .gototop {
        opacity: 0.5;
    }

}

/* =================== 위로 가기 버튼 =============== */
.gototop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    z-index: 50;
    background-color: moccasin;
    text-decoration: none;
    color: orangered;
}

.gototop:active {
    color: darkorchid;
    background-color: plum;
    opacity: 1;
}

/* ================= 클리어픽스 ================= */

.left {
    float: left;
}

.right {
    float: right;
}

.left::after,
.right::after,
.clearfix {
    content: "";
    display: table;
    clear: both;
}